.App {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #000000;
  font-family: 'Metropolis';
}

.section1 {
  z-index: 1;
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
  background-image: url(./assets/images/circles.svg);
  background-position: 0 -50px;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  z-index: 2;
  max-width: 100%;
  min-height: 100px;
  background-color: rgba(0, 0, 0, 0.1);
  border-color: #00FF66;
  border-bottom: 3px solid #00FF66;
  backdrop-filter: blur(7px);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 25px;
}

.logo-main {
  width: 250px;
  height: auto;
}

.company-logo-main {
  width: 150px;
  height: auto;
}

.welcomer {
  margin: 120px auto auto auto;
  align-items: center;
}

.big-logo {
  width: 200px;
}

.welcome-text {
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
}

.desc-text {
  margin: 20px auto 0 auto;
  width: 500px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.product-launchs{
  justify-content: center;
  width: 80%;
  margin: 40px auto 0 auto;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.product-launchs img {
  margin-left: 7px;
  margin-right: 7px;
}

.apple-preorder {
  width: 170px;
}

.section2 {
  align-items: center;
  min-width: 100%;
  min-height: 100vh;
}

.why-viddle {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
}

.container {
  margin: 100px auto 0 auto;
  align-items: center;
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.container-text-area {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding-right: 50px;
}

.container-text-area-reverse {
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}

.container-spot-text {
  width: 450px;
  margin-bottom: 10px;
  text-align: left;
  background: linear-gradient(to right, #00FF66, #1DC9FF);
  background-clip: text;
  color: transparent;
  font-size: 36px;
  font-weight: 500;
}

.container-spot-text-reverse {
  width: 450px;
  margin-bottom: 10px;
  text-align: right;
  background: linear-gradient(to right, #00FF66, #1DC9FF);
  background-clip: text;
  color: transparent;
  font-size: 36px;
  font-weight: 500;
}

.container-desc {
  width: 450px;
  text-align: left;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
}

.container-desc-reverse {
  width: 450px;
  text-align: right;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
}

.container-img {
  width: 240px;
}

.privacy-statement {
  margin: 15em auto 0 auto;
}

.statement-text {
  width: 60em;
  margin: auto;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
}

.footer {
  border-top: 2px solid #00FF66;
  padding: 0 40px 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2em 0 0 0;
  max-width: 100%;
  min-height: 150px;
  background-color: #181818;
}

.footer-section1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-logo {
  display: flex;
  flex-direction: row;
}

.logo-footer {
  width: 190px;
  height: auto;
}

.by-text {
  padding: 0 0 0 15px;
  color: #ffffff;
  font-size: 19px;
  font-weight: 300;
}

.logo-group {
  display: flex;
  flex-direction: row;
}

.company-logo-footer {
  width: 160px;
  height: auto;
}

.social-icon {
  width: 18px;
  height: 100px;
  padding: 0 10px 0 10px;
}

.copyright {
  color: #898989;
  font-size: 14px;
  font-weight: 400;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./assets/fonts/Metropolis-Regular.otf') format('opentype');
  font-weight: 300; 
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./assets/fonts/Metropolis-Medium.otf') format('opentype');
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('./assets/fonts/Metropolis-SemiBold.otf') format('opentype');
  font-weight: 500; 
  font-style: normal;
}